<%# 管理者用：ジャンル編集画面 %>
<h1>ジャンル編集</h1>

<%# ジャンル編集 %>
<%= form_with model: @genre, url: admin_genre_path do |f| %>

<div class="form-group">
  <label for="genre_list">ジャンル名</label>
  <%= f.text_field :name %>
  <%= f.submit '変更を保存' %>
</div>

<% end %>
